div {
    border-radius: 4px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
}

p, a {
    font-size: 12px;
}

@media only screen and (min-width: 768px) {
    p, a {
        font-size: 18px;
    }
}