div {
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label {
    font-size: 12px;
}

input, textarea {
    padding: 12px;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    width: 100%;
}

button {
    text-align: center;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
    margin: 4px 2px;
    padding: 12px 16px;
    border-radius: 4px;
}

@media only screen and (min-width: 768px) {
    label {
        font-size: 15px;
    }
    button {
        font-size: 15px
    }
}