<p *ngIf="contactFormErr" [@dropDown] (@dropDown.done)="logError(contactFormErr)" class="error-dropdown">{{contactFormErrDisplay}}</p>
<p *ngIf="contactFormSent" [@dropDown] (@dropDown.done)="infoDropDownDisappear()" class="info-dropdown">Email sent!</p>

<form [formGroup]="contactForm" class="mail-container-colour">
    <div formGroupName="contactData">
        <label class="mail-label" for="mail-address">Email Address</label>
        <input class="mail-inputs" id="mail-address" formControlName="mailAddress" required>
        <label class="mail-label" for="mail-subject">Subject</label>
        <input class="mail-inputs" id="mail-subject" formControlName="mailSubject" required>
        <label class="mail-label" for="mail-body">Message</label>
        <textarea class="mail-inputs" id="mail-body" formControlName="mailBody" required></textarea>
        <button class="ui mail-button-colour" (click)="sendEmailWrapper()">Send</button>
    </div>
</form>