.top {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    list-style-type: none;
}

a {
    padding: 14px 16px;
    display: block;
    text-align: center;
    text-decoration: none;
    float: left;
}

a, i {
    font-size: 16px;
}

.wide-list {
    display: none;
}

.dropdown-icon {
    float: right;
    cursor: pointer;
    padding: 14px 16px;
    display: block;
    text-align: center;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .wide-list {
        display: block;
    }

    .dropdown-icon {
        display: none;
    }
}

ul.narrow-dropdown {
    width: 200px;
    float: right;
    position:fixed;
    top: 43px;
    margin: 0;
    right: 0;
    padding: 0;
    list-style-type: none;
  }
  
.narrow-dropdown a {
    display: block;
    padding: 12px;
    font-size: 16px;
    text-decoration: none;
    width: 200px;
}

.light-dark-container {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px;
    background-color: rgba(146, 146, 146, 0.5);
    border-radius: 4px;
}

.bi-moon, .bi-sun {
    padding: 5px;
}

.bi-moon:hover {
    color: whitesmoke;
    cursor: pointer;
}

.bi-sun:hover {
    color: goldenrod;
    cursor: pointer;
}