@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

p {
    font-size: 2em;
}

ul {
    font-size: 1.4em;
}

.error-dropdown {
    top: 35px;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: fixed;
    font-size: 26px;
    border: 10px;
}

.info-dropdown {
    top: 35px;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: fixed;
    font-size: 26px;
    border: 10px;
}